.contact-container{
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0,0.1);


}
h2{
    text-align: center;
    margin-bottom: 20px;

}
kontakt-forma{
    margin-top: 20px;
}
label { 
    display:block;
     margin-bottom: 8px; 
}


#name,#lastname,#email,#message{
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
   
 border-radius: 3px;

}
textarea{
    height: 150px;


}


input[type="submit"]{
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover{
    background-color: #555;

}

.button{
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.button:hover{
    background-color: #555;
}

.address-icon{
 height: 64px;
  width: 64px;
  line-height: 64px;
  font-size: 30px;
  text-align: center;
  border-radius: 500px;
  position: relative;
  float: left;
  margin-right: 30px;
  margin-left: 2px;
  z-index: 5;
  color: #fff;
  background-color: #ccc;
}

.contact-info{
  display: flex;
  align-items: center;
  margin-top: 60px;
}

  * {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-transform: capitalize;
  text-decoration: none;
}
body {
  margin: 0px;
  padding: 0px;
}

/* Header */
.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 90px;
  border-bottom: 1px solid #fff;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  z-index: 1000;
}

header .logo {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
header .logo a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

.logo img {
  height: 70px;
}

/* Menu links */

.menu-container {
  padding: 10px;
  margin: 10px;
}

.menu-container ul {
  display: flex;
  list-style: none;
}

.menu-container ul li a {
  color: #333;
  font-size: 17px;
  text-decoration: none;
  padding: 10px;
}

.menu-container ul ul {
  display: none;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.menu-container ul li:hover > ul {
  position: absolute;
  display: flex;
}

/* Search bar */

.search-container {
  display: flex;
  justify-content: center;
  border-radius: 28px;
  border: 4px solid #f0f0f0;
  background: #f0f0f0;
}
.search-bar {
  padding: 10px;
  border: 1px solid #f0f0f0;
  background: #f0f0f0;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  width: 320px;
}
.search-button {
  padding: 10px;
  border: 1px solid #f0f0f0;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #d8565b;
  color: #fff;
}
.icons a {
  color: #333;
  margin-right: 7px;
}

  
  /* add to cart */
  .dropdown-cart {
    position: relative;
    display: flex;
    margin-right: -15px;
    margin-top: -5px;
  }
  
  .cart-toggle-btn {
    background: none;
    border: none;
    font-size: 20px;
    color: #07131f;
    cursor: pointer;
  }
  
  .cart-count,
  .cart-count-1 {
    background-color: #d8565b;
    color: #fff;
    border-radius: 50%;
    padding: 4px 8px;
    font-size: 10px;
    position: absolute;
    top: -5px;
    right: -5px;
  }
  
  .dropdown-cart .cart-window {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    border: 1px solid #161010;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: none;
    width: 400px;
    height: 800px;
    padding: 10px;
    z-index: 1;
  }
  
  .cart-window .cart-items {
    max-height: 390px;
    overflow-x: hidden;
  }
  
  .cart-window .cart-total {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 30px;
  }
  
  .cart-window .btn-success {
    width: 100%;
    border: none;
    background-color: #d8565b;
    color: #fff;
  }
  
  .cart-window .btn-success:hover {
    background-color: #da172a;
  }
  
  /* add to wishlist */
  
  .dropdown-cart-1 {
    position: relative;
    display: flex;
    margin-top: -5px;
  }
  
  .cart-toggle-btn-1 {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 60px;
  }
  
  .cart-window-1 {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 2;
  }
  
  .cart-items-1 {
    list-style: none;
    padding: 10px;
    margin: 0;
    overflow-y: auto;
    max-height: 400px;
    height: auto;
  }
  
  .card-1 {
    padding: 10px;
    border-bottom: 1px solid #eee;
  }
  
  .wishlist-heart {
    border: none;
    background-color: #fff;
  }








